.contact-form 
{
  position: relative;
  background-color: #000018;
  border-radius: 2.35vw;
  height: 37vw;
  width: 42vw;
  padding: 2.35vw;
  margin: 4vw 0 10vw 10.3vw;

  display: flex;
  flex-direction: column;

  .double-row,
  .simple-row
  {

    display: flex;
    width: 100%;
    height: fit-content;
    margin-bottom: 1vw;
    .form-input
    {
    &:nth-child(2)
    {
    margin-left:1vw ;
    }
    flex: 1;
    height: fit-content;
    display: flex;
    }
  }

  .btn 
  {
    font-family: 'Poppins';
    height: 4vw;
    width: fit-content;
    position: relative;
    left: -2vw;
    font-size: 1.3vw;
    color: #FAF9F2;
    background-color: #000018;
    display: flex;
    align-items: center;
    border-radius: 6.5vw;
    padding: 0.25vw 0;
    padding-left: 1.3vw;
    transition: transform 0.3s ease-in-out;
    
    margin-top: 3vw;

    outline: none;
    border: none;
    cursor: pointer;

    .arrow-effect 
    {
      margin-right: 0.3vw;
    }
  }

  .btn:hover
  {
    transform: translate(0.2vw, -0.2vw);
    box-shadow: 0 0.26vw 0.52vw rgba(0, 0, 0, 0.15);
  }
  .blueGrid 
  {
    height: 5vw;
    z-index: -1;
    position: absolute;
    top: 0.7vw;
    left: -6.5vw;
    transform: rotate(90deg);
  }
  .greyGrid 
  {
    height: 5vw;
    z-index: -1;
    position: absolute;
    top: 14.5vw;
    right: -6.5vw;
    transform: rotate(90deg);
  }
}