.discover-container 
{
    position: relative;
    z-index: 3;
    background-color: #018EBB;
    width: 75%;
    height: 13vw;
    margin: 0 auto;
    border-radius: 2.3vw;
    display: flex;
    margin-top: 1vw;
    align-items: center;
    justify-content: center;
    padding: 0 1vw;
    .big 
    {
        flex: 2;
    }
    .small 
    {
        flex: 1;
    }
    .btn 
    {
        position: relative;
        transition: transform 0.3s ease-in-out;
        height: 75%;
        background-color: #FAF9F2;
        border-radius: 2.21vw;
        width: auto;
        font-size: 1.3vw;
        margin: 0.65vw;
        line-height: 1.17vw;

        .content
        {
            margin:2.27vw;
            line-height: 1.95vw;
            span 
            {
                font-size: 1.56vw;
                color: #000018;
                font-weight: 600;
                border-bottom: 0.25vw solid #018EBB;
            }
        }

        .arrow-effect 
        {
            position: absolute;
            background-color: #000018;
            height: 2.8vw;
            width:2.8vw;
            border-radius: 100%;
            right: 1.3vw;
            bottom: 1.3vw;
            transition: all 0.3s ease-in-out;
            
        }
    }
}