.form-input
{
    .form-label
    {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 48.5%;
        transition: all 0.2s ease-in-out;
        margin: 1.85vw 1.70vw;
        font-size: 1.05vw;
        pointer-events:none;
        font-weight:500 ;
    }
    .shrink
    {
        transform: translateY(-1vw);
        font-size: 0.8vw;
        color: #005570;
    }
    input,
    textarea
    {
        padding: 1.62vw 1.3vw;
        border: none;
        outline: none;
        border-radius: 1.3vw;
        position: relative;
        font-family: 'Poppins';
        font-size: 1.05vw;
        background-color: #FAF9F2;
        flex: 1;
        width: 100%;
        
    }
    input:focus ~ .form-label,
    textarea:focus ~ .form-label
    {
        transform: translateY(-1vw);
        font-size: 0.8vw;
        color: #005570;
    }
    input 
    {
        margin-bottom:0;
    }
    textarea
    {
        resize: none;
        height: 16.26vw;
    }

   
}