@media screen and (max-width: 768px) {
    .project 
    {
        .projectHeader
        {
            margin-left: 0;
            .more 
            {
                margin-top: 2.27vw;
                font-size: 3vw;
                margin-left: 10vw;
            }
            .title 
            {
                font-size: 5vw;
                text-align: left;
                margin-left: 10vw;
                line-height: 9vw;
                margin-top: 7vh;
                .underline 
                {
                    border-width:1vw ;
                }
            }
            .citation 
            {
                margin: 4vw auto !important;
                font-size: 3.5vw !important;
                text-align: left;
                max-width: 90% !important;
                margin-left: 10vw !important;
                line-height: 5vw;
                br 
                {
                    display: none;
                }
            }
            .illustration 
            {
                display: none !important;
            }
        }
        .example-container
        {

            .sort-bar
            {
                height: 4vw;
                margin-bottom: 7vw;

                .active 
                {
                    background-color: #018EBB;
                    color: #FAF9F2;
                }
                .sort-element
                {
                    margin-right:3vw;
                    font-size: 3vw;
                    padding: 2vw;
                }
            }

            .card-container 
            {
                flex-direction:column ;
                align-items: center;
                justify-content: center;
                width: 95vw;
                margin: 0 2.5vw;
            }
        
        }
        .card 
        {
            height: 52vw;
            width: 93.6vw;
            margin: 3vw 0;
            border-radius: 8vw;
            .description 
            {
                display: none;
            }
            .responsive-description 
            {
                display: inline;
                position: relative;
                top: 0vw;
                font-size: 2.5vw;
                color: #018EBB;
                font-weight: 400;
                margin: 0.5vw;
            }
            .title-container 
            {
                left: 50%;
                transform: translateX(-50%);    
                bottom: 10%;

                width: 82.5%;
                padding: 3.4vw;
                font-size: 2.6vw;

                border-radius: 5vw;
                border-bottom: 3.5px solid #018EBB;
                box-shadow: 0px 0px 15px rgba(0, 0, 24, 0.1);



                .arrow-effect img
                {
                    height: 3vw;
                }
            }



            .back
            {
                top: 8vw;
                left: 7vw;
                height: 10vw;
                width: 10vw;

                img
                {
                    height: 4vw;
                }
            }
        }
        .overlay 
        {
            top: 0;
            width: 100vw;
            height: 100vh;


            left: 50%;
            border-radius: 0;
            bottom: 0;
            z-index: 9999; 
            .overlay-container
            {
                height: 100%;
            }
        
            .first-bg
            {
                height: fit-content;
                width: 100%;
            }
        
            .second-bg 
            {
        
                height: fit-content;
                width: 100%;
                margin-top: -1vw;
                display:flex; 
                align-items: center;
                flex-direction: column;
                .text-part
                {
                    font-size: 3vw;
                    font-weight: 200;
                    flex: 0;
                    padding: 20vw 0vw;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p
                    {
                        text-align: justify;
                        padding: 0 10vw;
                        line-height: 5vw;
        
                        span
                        {
                            font-weight: 200 ;
                            font-size: 2.5vw; 
                        }
                    }
                }
                .image-part 
                {
                    flex: 1;
                    width: 100%;
                    height: fit-content;
                }
            }
        
        
            .third-bg 
            {
                display: flex;
                flex-direction: column;
                height: fit-content;
        
                .left-img, .right-img
                {
                    width: 100%;
                }
                .rectangle-container
                {
                    height: 100%;
                    width: 50%;
                    .first-rec
                    {
                        height: 50%;
                        width: 100%;
                    }
                    .second-rec
                    {
                        height: 50%;
                        width: 100%;
                    }
                }
            }
        
        }
    }

}   