.projectHeader 
{
    margin-left: 10.4vw;
    position: relative;
    .more 
    {
        margin-top: 2.27vw;
        font-size: 1.2vw;
        font-style: italic;
    }

    img 
    {
        height: 26vw;
        position: absolute;
        right: 10.4vw;
        top: 0;
    }
}