.project-page 
{

    background-color: #000018;
    height: 1000vh;
    padding-top: 13vh;
    .first-bg
    {
        height: 87vh;
        background-color: black;

    }

    .second-bg 
    {
        height: 40vw;
        width: 100%;
        background-color: antiquewhite;
        display: flex;
        .text-part
        {
            background-color: aqua;
            text-align: center;
            padding-top: 3vw;
            width: 50%;
            p
            {
                padding: 0 3vw;
                line-height: 1.8;
            }
        }
        .image-part 
        {
            width: 50%;
            background-color: brown;
        }
    }


    .third-bg 
    {
        display: flex;
        height: 40vw;
        background-color: green;

        .left-img
        {
            height: 100%;
            width: 50%;
            background-color: blue;
        }
        .rectangle-container
        {
            background-color: red;
            height: 100%;
            width: 50%;
            .first-rec
            {
                height: 50%;
                width: 100%;
                background-color: azure;
            }
            .second-rec
            {
                height: 50%;
                width: 100%;
                background-color: grey;
            }
        }
    }
}