@import '../../../../App.scss';


.homeHeader 
{
    position: relative;
    margin-left: 10.5vw;
    height: 40vw;
    .btn 
    {
        display: flex;
        width: 14.5vw;
        align-items: center;
        border-radius: 100px;
        padding: 0.3vw 0 0.3vw 1.3vw;
        font-size: 1.232vw;
        color: #FAF9F2;
        transition: transform 0.3s ease-in-out;
        background-color: #000018;
    }
    .homeCitation
    {

        font-size: 2.15vw;
        font-weight: 400;
        font-style: italic;
        margin: 2.6vw 0;
    }
    .description 
    {
        font-size: 1.3vw;
        max-width: 50%;
        line-height: 2vw;
        margin-bottom: 4.5vw;
    }
    .headerImage 
    {
        height: 30vw;
        position: absolute;
        bottom: 3.5%;
        right: 14.5%;
        z-index: -1;
    }

}