@import '../../../../App.scss';


.homeHeader 
{
    height: 200vh;
    margin-left: 160px;
    height: calc(100vh - 180px);
    .contactBtn 
    {
        span 
        {
            margin-left: auto;
            margin-right: 5px;
        }
    }
    .homeCitation
    {

        font-size: 33px;
        font-weight: 400;
        font-style: italic;
        margin:40px 0;
    }
    .description 
    {
        font-size: $f-s20;
        max-width: 50%;
        line-height: 30px;
        margin-bottom: 70px;
    }
    .headerImage 
    {
        height: 457px;
        position: absolute;
        bottom: 3.5%;
        right: 220px;
        z-index: -1;
    }

}