@keyframes visible {
    from {
        opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.overlay {
    position: fixed;
    top: 12%;
    width: 90vw;
    left: 50%;
    border-radius: 3vw;
    transform: translateX(-50%); 
    overflow-x: hidden;
    bottom: 11%;
    height: 42.5vw;
    z-index: 9999; 
    animation: visible 0.8s ease-in-out; 
    .overlay-container
    {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .first-bg
    {
        height: 87vh;
    }

    .second-bg 
    {

        height: 40vw;
        width: 100%;
        margin-top: -0.2vw;
        display: flex;
        align-items: center;
        .text-part
        {
            font-size: 1vw;
            font-weight: 200;
            width: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            p
            {
                text-align: justify;
                padding: 0 6vw;
                line-height: 1.5vw;

                span
                {
                    font-weight: 200 ;
                    font-size: 0.8vw; 
                }
            }
        }
        .image-part 
        {
            width: 50%;
            height: 100%;
        }
    }


    .third-bg 
    {
        display: flex;
        height: 40vw;
        background-color: green;

        .left-img, .right-img
        {
            height: 100%;
            width: 50%;
        }
        .rectangle-container
        {
            height: 100%;
            width: 50%;
            .first-rec
            {
                height: 50%;
                width: 100%;
            }
            .second-rec
            {
                height: 50%;
                width: 100%;
            }
        }
    }

}

