.overlay {
    position: fixed;
    top: 12%;
    width: 90vw;
    left: 50%;
    border-radius: 3vw;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: translateX(-50%); 
    bottom: 11%;
    height: 42.5vw;
    z-index: 9999; 
    .first-bg
    {
        height: 87vh;
    }

    .second-bg 
    {

        height: 45vw;
        width: 100%;
        margin-top: -0.2vw;
        background-color: antiquewhite;
        display: flex;
        .text-part
        {
            text-align: justify;
            color: #faf9f2;

            padding-top: 7vw;
            font-size: 1.1vw;
            width: 50%;
            overflow: hidden;
            p
            {
                padding: 0 3vw;
                line-height: 2vw;
            }
        }
        .image-part 
        {
            width: 50%;
            background-color: brown;
        }
    }


    .third-bg 
    {
        display: flex;
        height: 40vw;
        background-color: green;

        .left-img, .right-img
        {
            height: 100%;
            width: 50%;
            background-color: blue;
        }
        .rectangle-container
        {
            background-color: red;
            height: 100%;
            width: 50%;
            .first-rec
            {
                height: 50%;
                width: 100%;
            }
            .second-rec
            {
                height: 50%;
                width: 100%;
            }
        }
    }

}

