@media screen and (max-width:768px) {
    .seo 
    {
        .seo-title
        {
            font-size: 4vw;
            margin-bottom: 4vw;
            span img 
            {
                height: 3vw;
                margin-left: 2vw;
            }
        }
        
        .keywords 
        {
            margin: 10vw auto 15vw;
            width: 90%;
            .keywords-content
            {
                font-size: 3vw;
                max-width: 100%;
                line-height: 4vw;
            }
            h1 
            {
                font-size: 4vw;
                margin-bottom: 5vw;
            }
            .greyGrid
            {
                display: none;
            }
        }
        .quality 
        {
            width: 90%;
            margin: auto;
            border-radius: 5vw;
            padding-top:5vw;
            padding-bottom: 2vw;
            height: fit-content;
            
            .quality-title 
            {
                margin: 0 5vw;
            }
            .quality-content 
            {
                margin: 5vw;
                text-align: justify;
                font-size: 3vw;
                line-height: 4.5vw;
            }
            .blueGrid 
            {
                height: 9vw;
                position: absolute;
                z-index: -1;
            }
            .blueGrid-top
            {
                top: -4.5vw;
                left: 15vw;
            }
            .blueGrid-bot 
            {
                bottom: -4.5vw;
                left: 15vw; 
            }
        }
        .suivie 
        {
            margin-top: 20vw;
    
            .suivie-content
            {
                display: flex;
                flex-direction: column;
                height: fit-content;
                margin: auto;
                margin-bottom: 7.5vw;
                width: 95%;
                .suivie-element 
                {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    height: fit-content;
                    width: 84vw;

                    padding: 5vw 3vw;
                    border-radius: 5vw;
                    line-height: 4vw;
                    font-size: 3vw;
                    box-shadow: -0.13vw 0.26vw 0.52vw rgba(0, 0, 0, 0.25);
                    &:first-child{
                        margin-bottom: 10vw;
                    }
                }
            }
        }
    }
}