@import '../../App.scss';



@mixin effet {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -8px;
    left: 0;
    border-radius: 10px;
    background-color: #018EBB;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
    
}
@mixin effetHover {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.scroll 
{
    box-shadow: 0px 2px 15px rgba(0, 0, 24, 0.07);
    top: 1.3vw !important;
    width: 90% !important;
    padding-right: 0.8vw !important;

    .sub-nav
    {
        transform: translateX(-50.5%);
    }
}


.navbar 
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6.5vw;
    background-color: #FAF9F2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.9vw; 
    width: calc(90% - 2.4vw);
    padding: 0 1.6vw;
    z-index: 1000;
    background-color: none;
    position: fixed;
    top: 2vw;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    .logo-container 
    {
        height: 100%;
        display: flex;
        align-items: center;
        .logo 
        {
            position: relative;
            top: -1px;
            height: 66.66%;
        }
    }
    .nav-link-list 
    {
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-link 
        {
            padding: 0.65vw 1.3vw;
            font-size: 1.04vw;
            a 
            {
                position: relative;
            }
            a::after 
            {
                @include effet;
            }
            a:hover::after 
            {
                @include effetHover;
            }
        }
        .btn-container 
        {
            margin-left: 3.2vw;
            .btn 
            {

                display: flex;
                align-items: center;
                border-radius: 6.5vw;
                padding: 0.3vw 0 0.3vw 1.3vw;
                font-size: 1.3vw;
                color: #FAF9F2;
                transition: transform 0.3s ease-in-out;
                background-color: #018EBB;
            }
        }

       
    }
}

.sub-nav 
{
    position: fixed;
    display: none;
    top: 0.5vw;
    background-color: #FAF9F2;
    z-index: 10;
    transform: translateX(-49%);
    width: 97vw;
    height: 17.5vw;
    border-radius: 2.3vw;
    box-shadow: 0px 2px 15px rgba(0, 0, 24, 0.07);
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 350px 350px 350px 350px;
    gap: 0.6vw 0;
    margin: 1.6vw;

    .sub-nav-element 
    {
        position: relative;
        &::after 
        {
            @include effet;
        }
        &:hover::after 
        {
            @include effetHover;
        }

        .content 
        {
            max-width:85%;
            font-size: $f-s12;
            margin-top: 10px;
            color: #005570;
            line-height: 18px;
        }
        span 
        {
            margin-left: 20px;
            position: relative;
            img
            {
                position: absolute;
                top: 50%;
                left: 53%;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease-in-out;
            }
            
        }
        .arrowBleu2 
        {
            opacity: 0;
        }
        &:hover
        {
            .arrowBleu
            {
                opacity: 0;
                transform: translate(1px, -8px);
            }
              
            .arrowBleu2 
            {
                opacity: 1;
                transform: translate(-10px, -8px);
            }
              
        }

    }
}
.declencheur 
{
    height: 3.2vw;
    display: flex;
    align-items: center;
}
.declencheur:hover .sub-nav
{
    display: grid;
    position: absolute;
    z-index: 20;
}


.sub-nav-container 
{
    position: relative;
    display: flex;
    align-items: center;
    .arrow
    {
        transform: rotate(45deg);
        display: inline-block;
        vertical-align: bottom;
        transition: all 0.4s ease;
        margin-left: 12px;
        margin-right: 0px;
        height: 15px;
        margin-bottom: -5px;
    }
    &:hover .arrow 
    {
        transform: rotate(90deg);
        margin-bottom: 0;
    }



}
